{% extends "layouts/base-sub.html" %}

{% block title %} Blank Page {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        {% include 'includes/preloader.html' %}

        <!-- Hero -->
        <section class="section-header">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <!-- <h1 class="display-2 mb-3">Blank starter page</h1>
                        <p>Hello world!</p> -->
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-md">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <!-- <h1 class="display-2 mb-3">Blank starter page</h1>
                        <p>Hello world!</p> -->
                    </div>
                </div>
            </div>
        </section>

        <section class="section py-0">
            <div class="container z-2">
            <div class="row position-relative justify-content-center align-items-center">
                <div class="col-12 px-0">
                    <div class="card border-light px-4 py-1">
                        <div class="card-body text-center text-md-left">
                            <div class="row align-items-center">
                                {% include 'includes/_contact.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    
        {% include 'includes/footer-about.html' %}
    

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
