{% extends "layouts/base-sub.html" %}

{% block title %}  {{_('Female Hair Transplant | Hair Transplant Turkey Istanbul')}} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        {% include 'includes/preloader.html' %}

        <!-- Hero -->
        <section class="section-header bg-gray text-white">
            <div class="container">
               <div class="row justify-content-between align-items-center">
                  <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                        <h1 class="display-2 mb-4">{{_('Female Hair Transplant')}}</h1>
                        <p class="lead mb-4 text-muted">{{_('Unfortunately, women are not spared from alopecia (hair loss). This ultra-feminine attribute that is hair can therefore cause more than just an aesthetic complexion in women.')}}</p>
                    </div>
                  <div class="col-12 col-md-5 d-none d-md-block text-center"><img src="/static/assets/img/dropdown/femalehair_white.svg" alt="Female Transplant"></div>
               </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
               <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                  <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
               </svg>
            </figure>
        </section>
        <!-- Section -->
        <section class="section section-lg" style="padding-top: 3rem;" >
            <div class="container">
                <div class="row justify-content-between align-items-center mb-5 mb-lg-7">
                  <div class="col-12 col-lg-12 mb-5 mb-lg-0 order-lg-2" >
                    <h2 class="h1 text-center mb-4">{{_('Why Women Experience Hair Loss')}}</h2>
                    <p class="lead">{{_(' Hair loss is thought to affect around 42 percent of women. The main causes are stress, anxiety, hormonal fluctuations, nutritional deficiencies, heredity, drug treatments. But hair loss is mainly caused by the aggression of the hair with in particular the excessive use of chemicals and the repeated use of straighteners, hair dryers or African braids etc.')}}</p>
                      <p class="lead">{{_('Nowadays, the only way to remedy the damage done is hair transplantation. The FUE method is indeed the best answer to the problem of hair loss in women. This transplantation technique is still very little known in European countries, which is pushing patients to undergo surgery in Turkey. Turkey is considerably more advanced in hair transplantation and the prices are 80 percent cheaper than in France for example.')}}</p>
                    </div>
                </div>
                <div class="row justify-content-between align-items-center mb-5 mb-lg-7 ">
                  <div class="col-lg-7 order-lg-2 mb-5">
                    <img class="shadow-lg" style="border-radius:70% 30% 68% 32% / 33% 61% 39% 67%;" src="/static/assets/img/sections/female-transplant-1.jpg" alt="Female Hair Transplant">
                  </div>
                  <div class="col-lg-5  mb-lg-0 order-lg-1" >
                    <h2 class="h1 d-flex align-items-center">{{_('Operation')}}</h2>
                    <p class="lead">{{_('Hair transplantation is technically identical to that of men. However, depending on the extent of the area to be transplanted, the surgeon may refrain from shaving the patients hair.')}}</p>
                    <p class="lead">{{_('The success rate for this operation is 95 percent, but with the advice and recommendations of the surgeon, you can take good steps to strengthen your hair after the operation.')}}</p>
                    <a href="{{url_for('bp.transplant_methods')}}"  class="btn btn-primary mt-2 animate-up-2" style="background-color:#a38004; border-color: #a38004;">
                      <span class="fas fa-chevron-circle-right"></span>
                      {{_('See Transplantation Methods') }}
                  </a>
                  </div>


                </div>



            </div>
        </section>
    </main>

            <!-- Section -->
    <section class="section py-0">
        <div class="container z-2">
        <div class="row position-relative justify-content-center align-items-cente">
            <div class="col-12">
                
                <div class="card border-light px-4 py-1">
                    <div class="card-body text-center text-md-left">
                        <div class="row align-items-center">
                            {% include 'includes/_contact.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    {% include 'includes/footer-about.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
