{% extends "layouts/base-sub.html" %}

{% block title %}  {{_('Male Hair Transplant | Hair Transplant Turkey Istanbul')}} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        {% include 'includes/preloader.html' %}

        <!-- Hero -->
        <section class="section-header bg-gray text-white pb-lg-6 pb-sm-5 pb-4">
            <div class="container">
               <div class="row justify-content-between align-items-center">
                  <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                        <h1 class="display-2 mb-4">{{_('Male Hair Transplant')}}</h1>
                        <p class="lead mb-4 text-muted">{{_('Different operations are performed depending on the needs of the patients and the type of hair.')}}</p>
                    </div>
                  <div class="col-12 col-md-5 d-none d-md-block text-center"><img class="fmxh-350" src="/static/assets/img/dropdown/malehair_white.svg" alt=""></div>
               </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
               <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 41.4" style="enable-background:new 0 0 1920 41.4;" xml:space="preserve">
                  <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
               </svg>
            </figure>
        </section>
        <!-- Section -->
        <section class="section section-md" style="padding-top: 3rem;" >
            <div class="container">
                <div class="row justify-content-between align-items-center mb-5 mb-lg-5">
                  <div class="col-12 col-lg-6 mb-5 mb-lg-0 order-lg-2" >
                    <h2 class="h1">{{_('Hair Transplantation is Your Solution')}}</h2>
                    <p class="lead fw-normal"><strong>{{_('Baldness')}}</strong>  {{_('is a common phenomenon among men. About one in three men suffer from hair loss before the age of 30. It is possible and advisable to treat alopecia (hair loss) via medication treatment. However, the only lasting and effective option to regain the density of your own hair very quickly is')}} <strong>{{_('hair transplantation.')}}</strong></p>
                  </div>
                  <div class="col-12 col-lg-5 order-lg-1">
                    <img class="organic-radius img-fluid" style="border-radius: 70% 30% 68% 32% / 33% 61% 39% 67%;" src="/static/assets/img/sections/male-transplant-1.webp" alt="Male Hair Transplant">
                  </div>
                </div>
                <p class="lead fw-normal mb-5">{{_('This minimally invasive surgery consists of minimizing the visual signs of long-term hair loss. The hair transplant operation thus offers definitive results and achieves a natural distribution of your real hair.')}}</p>
                <div class="row justify-content-between align-items-center mb-5 mb-lg-5">
                  <div class="col-lg-6 mb-5 mb-lg-0" >
                    <h2 class="h1 d-flex align-items-center">{{_('There Are Different Ways')}}</h2>
                    <p class="lead fw-normal">{{_('The choice of the operating method depends on the diagnosis of the surgeon during which he will evaluate the density of the existing hair which will be extracted and transplanted in the area to be corrected. However, you can state your preference regarding the method of transplantation.')}}</p>
                  </div>
                  <div class="col-lg-5">
                    <img class="organic-radius img-fluid" style="border-radius: 70% 30% 68% 32% / 33% 61% 39% 67%;" src="/static/assets/img/sections/male-transplant-2.webp" alt="Male Transplant">
                  </div>
                  <div class="col-12 mt-5">
                    <a href="{{url_for('bp.contact')}}"  class="mx-4 btn btn-primary mt-2 animate-up-2 mb-lg-0 mb-4" style="background-color:#a38004; border-color: #a38004;">
                      <span class="fas fa-chevron-circle-right me-1"></span>
                      {{_('Contact Us for Initial Free Online Consultation') }}
                  </a>
                  <a href="{{url_for('bp.transplant_methods')}}"  class="mx-4 btn btn-primary mt-2 animate-up-2 float-end" style="background-color:#a38004; border-color: #a38004;">
                    <span class="fas fa-chevron-circle-right me-1"></span>
                    {{_('Click to Learn More About Transplant Methods') }}
                  </a>
                  </div>

                </div>
            </div>
        </section>
    </main>

            <!-- Section -->
    <section class="section py-0">
        <div class="container z-2">
        <div class="row position-relative justify-content-center align-items-cente">
            <div class="col-12 px-0">
                
                <div class="card border-light px-4 py-1">
                    <div class="card-body text-center text-md-left">
                        <div class="row align-items-center">
                            {% include 'includes/_contact.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    {% include 'includes/footer-about.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
