{% extends "layouts/base-sub.html" %}

{% block title %}  {{_('PRP Treatment | Hair Transplant Turkey Istanbul')}} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        {% include 'includes/preloader.html' %}
        <!-- Hero -->
        <section class="section-header bg-gray text-white pb-lg-6 pb-sm-5 pb-4">
            <div class="container">
               <div class="row justify-content-evenly align-items-center">
                  <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                        <h1 class="display-2 mb-4">{{_('PRP Treatment')}}</h1>
                    </div>
                  <div class="col-12 col-md-4 d-none d-md-block text-center"><i class="fas fa-vials fa-9x"></i></div>
               </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
               <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                  <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
               </svg>
            </figure>
        </section>
        <!-- Section -->
        <section class="section section-lg py-5" >
            <div class="container">
                <div class="row justify-content-between align-items-center mb-5 mb-lg-4">
                  <div class="col-lg-5 mb-lg-0" >
                    <p class=""><strong>{{_('PRP (Platelet Rich in Plasma) treatment ')}}</strong>{{_('is a non-invasive therapeutic method that slows down hair loss and stimulates regrowth. This treatment consists of injecting blood platelets into the desired areas, particularly the scalp, in order to regenerate and nourish the cells. PRP treatment is prescribed for the following situations:')}}</p>
                    <ul>
                      <li>
                        <strong>
                          {{_('Hair Loss')}}
                        </strong>
                      </li>
                      <li>
                        <strong>
                          {{_('Slowing of Hair Growth')}}
                        </strong>
                      </li>
                      <li>
                        <strong>
                          {{_('After a Hair Transplant')}}
                        </strong>
                      </li>
                    </ul>
                    
                    <p>{{_('The ')}}<strong>{{_('PRP treatment done after hair transplantation ')}}</strong>{{_('helps to accelerate the healing process and generate hair regrowth from donor areas and corrected areas. This procedure guarantees satisfactory results after the operation.')}}</p>
                  </div>
                  <div class="col-lg-7 mb-5">
                    <img class="shadow-lg" style="border-radius:70% 30% 68% 32% / 33% 61% 39% 67%;" src="/static/assets/img/sections/prp-1.jpg" alt="PRP Stage 1">
                  </div>
                  <div clas="col-lg-12">
                    <p>{{_('The ')}}<strong>{{_('PRP treatment as hair care ')}}</strong>{{_('helps to give a shinier, silkier and thicker appearance to the hair from the first session. After the second session, there is a considerable reduction in hair loss. It is after the third session that we notice hair regrowth.')}}</p>
                  </div>
                </div>
                <div class="row justify-content-between align-items-center mb-5 mb-lg-5">
                  <div class="col-12 col-lg-12 mb-5 mb-lg-0" >
                    <h3 class="h2 text-center mb-4">{{_('Treatment Process')}}</h3>
                    <p>{{_('The treatment begins with a blood sample. 10mL of blood is drawn and then placed in a centrifuge for 5 minutes to separate the blood components (red blood cells, white blood cells and platelets). After the separation of the components, the platelet-rich plasmas are extracted and finally injected into the desired areas. The entire operation is painless.')}}</p>
                  </div>
                  <div class="col-12 col-lg-4 mt-5 mb-5 mb-lg-0" >
                    <img class="shadow-lg" style="border-radius:70% 30% 68% 32% / 33% 61% 39% 67%;" src="/static/assets/img/sections/prp-2.jpg" alt="PRP Stage 2">
                  </div>
                  <div class="col-12 col-lg-4 mt-5 mb-5 mb-lg-0" >
                    <img class="shadow-lg" style="border-radius:70% 30% 68% 32% / 33% 61% 39% 67%;" src="/static/assets/img/sections/prp-3.jpg" alt="PRP Stage 3">
                  </div>
                  <div class="col-12 col-lg-4 mt-5 mb-5 mb-lg-0" >
                    <img class="shadow-lg" style="border-radius:70% 30% 68% 32% / 33% 61% 39% 67%;" src="/static/assets/img/sections/prp-4.jpeg" alt="PRP Stage 4">
                  </div>
                </div>
            </div>
        </section>
    </main>

            <!-- Section -->
    <section class="section py-0">
        <div class="container z-2">
        <div class="row position-relative justify-content-center align-items-cente">
            <div class="col-12 px-0">
                <div class="card border-light px-4 py-1">
                    <div class="card-body text-center text-md-left">
                        <div class="row align-items-center">
                            {% include 'includes/_contact.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    {% include 'includes/footer-about.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
