.patterns {
   height: 20vh;
 }
 
.patterns svg text {
   font-family: Lora;
   letter-spacing: 10px;
   stroke: #a38004;
   /* font-size: 150px;
   font-weight: 700; */
   stroke-width: 3;
   animation: textAnimate 5s infinite alternate;
 }
 @media(max-width : 992px)  {.patterns svg text {
    font-size: 2.5rem; }}
            
 
 @keyframes textAnimate {
   0% {
     stroke-dasharray: 0 50%;
     stroke-dashoffset:  20%;
     /* fill:hsl(61, 100%, 57%) */
     fill: #a38004;
 
   }
   
   100% {
     stroke-dasharray: 50% 0;
     stroke-dashoffstet: -20%;
     fill: hsla(189, 68%, 75%,0%)
   }
   
 }
 
 
 