<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">
<link type="text/css" href="/static/assets/css/_barchart.css?newcache09" rel="stylesheet">
		<div id='barchart' class="flex-cont">
            <!-- <div class="row title mb-5">
                <span class="h2 site-name text-center">Average Prices In Countries</span>
            </div> -->
			<span class="h2 title site-name justify-content-center">Average Prices In Countries</span>

            <div class="row mb-4">
                <div class="col-3 col-md-2 d-flex justify-content-center align-items-center bar-title">
					<span class="h4 ms-2 ms-md-0">Turkey</span><img src="/static/assets/img/flags/tr.svg"></img>
                </div>
                <div class="col-6 col-md-7 d-grid">
						<div class="my-auto fill fill-u"></div>
                </div>
                <div class="col-3 d-grid justify-content-center align-items-center">
                    <div class="display-5-l number">2300 €</div> 
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-3 col-md-2 d-flex justify-content-center align-items-center bar-title">
					<span class="h4 ms-2 ms-md-0">France</span><img src="/static/assets/img/flags/fr.svg"></img>
                </div>
                <div id="fill-p" class="col-6 col-md-7 d-grid">
						<div class="my-auto fill fill-p"></div>
                </div>
                <div class="col-3 d-grid justify-content-center align-items-center">
                    <div class="display-5-l number">6000 €</div> 
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-3 col-md-2 d-flex justify-content-center align-items-center bar-title">
					<span class="h4">Spain</span><img src="/static/assets/img/flags/es.svg"></img>
                </div>
                <div id="fill-ns" class="col-6 col-md-7 d-grid">
						<div class="my-auto fill fill-ns"></div>
                </div>
                <div class="col-3 d-grid justify-content-center align-items-center">
                    <div class="display-5-l number">5500 €</div> 
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-3 col-md-2 d-flex justify-content-center align-items-center bar-title">
					<span class="h4">UAE</span><img src="/static/assets/img/flags/ae.svg"></img>
                </div>
                <div id="fill-br" class="col-6 col-md-7 d-grid">
						<div class="my-auto fill fill-br"></div>
                </div>
                <div class="col-3 d-grid justify-content-center align-items-center">
                    <div class="display-5-l number">8000 €</div> 
                </div>
            </div>
			<div class="row">
                <div class="col-3 col-md-2 d-flex justify-content-center align-items-center bar-title">
					<span class="h4">UK</span><img src="/static/assets/img/flags/gb.svg"></img>
                </div>
                <div id="fill-br" class="col-6 col-md-7 d-grid">
						<div class="my-auto fill fill-uk"></div>
                </div>
                <div class="col-3 d-grid justify-content-center align-items-center">
                    <div class="display-5-l number">6700 €</div> 
                </div>
            </div>
		</div>
