    <div class="card-sitehead position-relative bg-transparent top-0">
        <div class="row align-items-center">
            <div class="col-lg-8 pe-1 justify-content-center" style="min-width: fit-content;">
                <a class="display-5 fw-bolder title-shadow" href="mailto:fioreclinique@gmail.com">fioreclinique@gmail.com</a>
            </div>
            <div class="col-2 px-0">
                <a href="https://web.whatsapp.com/send?phone=905398420570" target="_blank" class="text-md-right" type="button" aria-label="whatsapp button"
                title="whatsapp button">
                <span aria-hidden="true" style="color:#50a773;" class="fab fa-whatsapp fa-lg-mb"></span>
                </a>
                <a href="https://web.whatsapp.com/send?phone=905398420570" target="_blank" class="text-md-right" type="button" aria-label="whatsapp button"
                title="whatsapp button" >
                <span aria-hidden="true" style="line-height: 1em !important;" class="fab fa-instagram fa-lg-mb"></span>
                </a>
                <a href="https://web.whatsapp.com/send?phone=905398420570" target="_blank" class="text-md-right" type="button" aria-label="whatsapp button"
                title="whatsapp button">
                <span aria-hidden="true" style="color:#0026ff;" class="fab fa-facebook fa-lg-mb"></span>
                </a>
            </div>
            <div class="col-12 justify-content-center pe-0">
                <a class="display-4-l fw-bolder mb-0 title-shadow" target="_blank" href="tel:+90 539 842 05 70">+90 539 842 05 70</a>
            </div>
        </div>
    </div>
