   <!-- Hoover Card CSS -->
<link type="text/css" href="/static/assets/css/_cardlandscape.css?newcache13" rel="stylesheet">
   
   <!-- Topic Cards -->
   <div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 animate-up-4">
                <a href="{{url_for('bp.our_partners')}}">                      
                    <div class="icon icon-shape icon-xl mb-2">
                        <span class="fas fa-regular fa-handshake"></span>
                    </div>    
                    <h3 class="h5" style="color:#333333;">{{_('Our Partners')}}</h3>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 animate-up-4">
                <a href="{{url_for('bp.experience')}}">
                    <div class="icon icon-shape icon-xl mb-2">
                        <span class="fas fa-globe"></span>
                    </div>    
                    <h3 class="h5" style="color:#333333;">{{_('Experience')}}</h3>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 animate-up-4">
                <a href="{{url_for('bp.packages')}}">
                    <div class="icon icon-shape icon-xl mb-2">
                        <span class="fas fa-regular fa-gem"></span>
                    </div>    
                    <h3 class="h5" style="color: #333333;">{{_('Packages')}}</h3>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 animate-up-4">
                <a href="{{url_for('bp.contact')}}">
                    <div class="icon icon-shape icon-xl mb-2">
                        <span class="fas fa-phone"></span>
                    </div>
                    <h3 class="h5" style="color:#333333;">{{_('Contact')}}</h3>
                </a>
            </div>
        </div>
    </div>
</div>

