   <!-- Hoover Card CSS -->
<link type="text/css" href="/static/assets/css/_cardlandscape.css?newcache11" rel="stylesheet">
   
   <!-- Topic Cards -->
   <div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="{{url_for('bp.our_partners')}}">
                    <div class="card-flyer">
                        <div class="text-box">
                            <h6 class="text-shadow display-6">{{_('Our Partners')}}</h6>
                            <div class="image-box">
                                <img src="/static/assets/img/blog/our-partners.webp" style="width: auto; height: 120px;" alt="See our partners"/>
                            </div>
                            <div class="text-container">                                    
                                <a href="{{url_for('bp.our_partners')}}"
                                class="btn btn-primary mt-2 animate-up-2" style="background-color:#a38004; border-color: #a38004;">
                                <span class="fas fa-plus me-2"></span>
                                {{_('Learn More')}}
                            </a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="{{url_for('bp.experience')}}">
                    <div class="card-flyer">
                        <div class="text-box">
                            <h6 class="text-shadow display-6">{{_('Experience')}}</h6>
                            <div class="image-box">
                                <img src="/static/assets/img/blog/experience.webp" style="width: auto; height: 120px;" alt="Your experienece"/>
                            </div>
                            <div class="text-container">                                    
                                <a href="{{url_for('bp.experience')}}" class="btn btn-primary mt-2 animate-up-2" style="background-color:#a38004; border-color: #a38004;">
                                <span class="fas fa-plus me-2"></span>
                                {{_('Learn More')}}
                            </a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="{{url_for('bp.packages')}}">
                    <div class="card-flyer">
                        <div class="text-box">
                            <h6 class="text-shadow display-6">{{_('Packages')}}</h6>
                            <div class="image-box">
                                <img src="/static/assets/img/blog/packages.webp" style="width: auto; height: 120px;" alt="See our packages"/>
                            </div>

                            <div class="text-container">
                               <a href="{{url_for('bp.packages')}}" class="btn btn-primary mt-2 animate-up-2" style="background-color:#a38004; border-color: #a38004;">
                               <span class="fas fa-plus me-2"></span>
                               {{_('Learn More')}}
                           </a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="{{url_for('bp.contact')}}">
                    <div class="card-flyer">
                        <div class="text-box">
                            <h6 class="text-shadow display-6">{{_('Contact')}}</h6>
                            <div class="image-box">
                                <img src="/static/assets/img/blog/contact.webp" style="width: auto; height: 120px;" alt="contact_us"/>
                            </div>
                            <div class="text-container">

                               <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
                               <a href="{{url_for('bp.contact')}}" class="btn btn-primary mt-2 animate-up-2" style="background-color:#a38004; border-color: #a38004;">
                               <span class="fas fa-plus me-2"></span>
                               {{_('Learn More')}}
                           </a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

