<section id="packages" class="hero-section">
  <div class="card-grid row">
    <div class="pcard" href="#">
        <div class="card__background" style="
        background-color: #c6920d;
        background-image: linear-gradient(72deg, #c6920d 0%, #faf1ab  51%, #c6920d  100%)"> </div>
        <div class="card__content" >
            <h3 class="card__heading">GOLD</h3>
            <ul class="mt-4 px-0">
                <li>{{_('Hair Loss')}}</li>
                <li>{{_('Slowing of Hair Growth')}}</li>
                <li>{{_('After a Hair Transplant')}}</li>
                <li>{{_('PCR Test')}}</li>
                <li>{{_('Transplantation with FUE Method')}}</li>
                <li>{{_('Personal Interpreter Translator')}}</li>
                <li>{{_('Accommodation in World Class Hotel')}}</li>
                <li>{{_('Ground Transfers During Your Stay')}}</li>
                <li>{{_('Post Operation Merchandise')}}</li>
            </ul>
             <div class="col-12 text-center">
                <a href="{{url_for('bp.about')}}"  class="btn btn-primary mt-4 animate-up-2" style="background-color:#a38004; border-color: #a38004;">
                    <span class="fas fa-plus me-2"></span>
                    {{_('Learn More') }}
                </a>
            </div>
          </div>
    </div>
    <div class="pcard">
      <div class="card__background" style="
      background-color: #B7F1FD;
      background-image: linear-gradient(72deg, #378999 0%, #caecee  51%, #378999 100%)">
      </div>
      <div class="card__content">
        <h3 class="card__heading">DIAMOND</h3>
        <ul class="mt-4 px-0">
            <li>{{_('Hair Loss')}}</li>
            <li>{{_('Slowing of Hair Growth')}}</li>
            <li>{{_('After a Hair Transplant')}}</li>
            <li>{{_('PCR Test')}}</li>
            <li>{{_('Transplantation with FUE Method')}}</li>
            <li>{{_('Personal Interpreter Translator')}}</li>
            <li>{{_('Accommodation in World Class Hotel')}}</li>
            <li>{{_('Ground Transfers During Your Stay')}}</li>
            <li>{{_('Post Operation Merchandise')}}</li>
        </ul>
         <div class="col-12 text-center">
            <a href="{{url_for('bp.about')}}"  class="btn btn-primary mt-4 animate-up-2" style="background-color:#007a83; border-color: #007a83;">
                <span class="fas fa-plus me-2"></span>
                {{_('Learn More') }}
            </a>
        </div>
      </div>
    </div>
        <div class="pcard">
        <div class="card__background" style="
        background-color: #757F9A;
        background-image: linear-gradient(72deg, #929ec0 0%, #D7DDE8  51%, #929ec0  100%)"></div>
        <div class="card__content">
            <!-- <p class="card__category">Category</p> -->
            <h3 class="card__heading">PLATINUM</h3>
            <ul class="mt-4 px-0">
                <li>{{_('Hair Loss')}}</li>
                <li>{{_('Slowing of Hair Growth')}}</li>
                <li>{{_('After a Hair Transplant')}}</li>
                <li>{{_('PCR Test')}}</li>
                <li>{{_('Transplantation with FUE Method')}}</li>
                <li>{{_('Personal Interpreter Translator')}}</li>
                <li>{{_('Accommodation in World Class Hotel')}}</li>
                <li>{{_('Ground Transfers During Your Stay')}}</li>
                <li>{{_('Post Operation Merchandise')}}</li>
            </ul>
            <div class="col-12 text-center">
                <a href="{{url_for('bp.about')}}"  class="btn btn-primary mt-4 animate-up-2" style="background-color:#6f778d; border-color: #6f778d;">
                    <span class="fas fa-plus me-2"></span>
                    {{_('Learn More') }}
                </a>
            </div>

        </div>

        </div>
    </div>
</section>