<section id="packages" class="hero-section">
  <div class="card-grid row">
    <div class="pcard mb-3 mb-lg-0" href="#">
        <div class="card__background" style="
        background-color: #c6920d;
        background-image: linear-gradient(72deg, #c6920d 0%, #faf1ab  51%, #c6920d  100%)"> </div>
        <div class="card__content" >
            <div class="title text-center mb-3" >
                <i class="fa fa-coins" style="background: linear-gradient(-45deg,#c6920d,#faf1ab);" aria-hidden="true"></i>
            </div>
            <h3 class="card__heading">GOLD</h3>
            <ul class="mt-4 px-0">
                <li><i class="fa fa-check" aria-hidden="true"></i> {{_('FUE Method')}}</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> {{_('PRP')}}</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> {{_('4 Star Hotel')}}</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> {{_('VIP Transfer')}}</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> {{_('Personal Translator-Interpreter')}}</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> {{_('Medications')}}</li>
                <li><i class="fa fa-times" aria-hidden="true"></i> {{_('Post-Operative Care Pack')}}</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> {{_('Post-Operative Online Follow-Up')}}</li>
                <li><i class="fa fa-times" aria-hidden="true"></i> {{_('Botox')}}</li>
            </ul>
             <div class="col-12 text-center">
                <a href="{{url_for('bp.about')}}"  class="btn btn-primary mt-3 animate-up-2" style="background-color:#a38004; border-color: #a38004;">
                    <span class="fas fa-plus me-2"></span>
                    {{_('Learn More') }}
                </a>
            </div>
          </div>
    </div>
    <div class="pcard mb-3 mb-lg-0">
      <div class="card__background" style="
      background-color: #B7F1FD;
      background-image: linear-gradient(72deg, #378999 0%, #caecee  51%, #378999 100%)">
      </div>
      <div class="card__content">
        <div class="title text-center mb-3" >
            <i class="fa fa-gem" style="background: linear-gradient(-45deg,#378999,#caecee);" aria-hidden="true"></i>
        </div>
        <h3 class="card__heading">DIAMOND</h3>
        <ul class="mt-4 px-0">
            <li><i class="fa fa-check" aria-hidden="true"></i> {{_('No Shave FUE Method')}}</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> {{_('PRP')}}</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> {{_('4 Star Hotel')}}</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> {{_('VIP Transfer')}}</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> {{_('Personal Translator-Interpreter')}}</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> {{_('Medications')}}</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> {{_('Post-Operative Care Pack')}}</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> {{_('Post-Operative Online Follow-Up')}}</li>
            <li><i class="fa fa-times" aria-hidden="true"></i> {{_('Botox')}}</li>
        </ul>
         <div class="col-12 text-center">
            <a href="{{url_for('bp.about')}}"  class="btn btn-primary mt-3 animate-up-2" style="background-color:#007a83; border-color: #007a83;">
                <span class="fas fa-plus me-2"></span>
                {{_('Learn More') }}
            </a>
        </div>
      </div>
    </div>
        <div class="pcard">
        <div class="card__background" style="
        background-color: #757F9A;
        background-image: linear-gradient(72deg, #929ec0 0%, #D7DDE8  51%, #929ec0  100%)"></div>
        <div class="card__content">
            <div class="title text-center mb-3" >
                <i class="fa fa-certificate" style="background: linear-gradient(-45deg,#929ec0,#D7DDE8);" aria-hidden="true"></i>
            </div>
            <!-- <p class="card__category">Category</p> -->
            <h3 class="card__heading">PLATINUM</h3>
            <ul class="mt-4 px-0">
                <li><i class="fa fa-check" aria-hidden="true"></i> {{_('FUE Method')}}</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> {{_('PRP')}}</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> {{_('4 Star Hotel')}}</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> {{_('VIP Transfer')}}</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> {{_('Personal Translator-Interpreter')}}</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> {{_('Medications')}}</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> {{_('Post-Operative Care Pack')}}</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> {{_('Post-Operative Online Follow-Up')}}</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> {{_('Botox')}}</li>
            </ul>
            <div class="col-12 text-center">
                <a href="{{url_for('bp.about')}}"  class="btn btn-primary mt-3 animate-up-2" style="background-color:#6f778d; border-color: #6f778d;">
                    <span class="fas fa-plus me-2"></span>
                    {{_('Learn More') }}
                </a>
            </div>

        </div>

        </div>
    </div>
</section>