        <!-- <div class="section section-md">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12"> -->
                        <!-- Tab Nav -->
                        <!-- <div class="nav-wrapper position-relative mb-5">
                            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-text" role="tablist">
                                <li class="col-md-3 col-lg-3 text-center">
                                    <a id="tabs-text-1-tab" data-bs-toggle="tab"
                                    href="#tabs-text-1" role="tab" aria-controls="tabs-text-1"
                                    aria-selected="false"> 
                                        <div class="icon-box mb-4 animate-up-4" >
                                            <div class="icon icon-primary mb-4">
                                                <img src="/static/assets/img/sections/fue.svg">
                                            </div>
                                            <h3 class="h5">{{_('FUE')}}</h3>
                                        </div>

                                    </a>
                                </li>
                                <li class="col-md-3 col-lg-3 text-center">
                                    <a id="tabs-text-2-tab" data-bs-toggle="tab"
                                    href="#tabs-text-2" role="tab" aria-controls="tabs-text-2"
                                    aria-selected="false">
                                        <div class="icon-box mb-4 animate-up-4" >
                                            <div class="icon icon-primary mb-4">
                                                <img src="/static/assets/img/sections/saphire.svg">
                                            </div>
                                            <h3 class="h5">{{_('Sapphire FUE')}}</h3>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-md-3 col-lg-3 text-center">
                                    <a id="tabs-text-3-tab" data-bs-toggle="tab"
                                    href="#tabs-text-3" role="tab" aria-controls="tabs-text-3"
                                    aria-selected="false">
                                        <div class="icon-box mb-4 animate-up-4" >
                                            <div class="icon icon-primary mb-4">
                                                <img src="/static/assets/img/sections/dhi.svg">
                                            </div>
                                            <h3 class="h5">{{_('DHI')}}</h3>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-md-3 col-lg-3 text-center">
                                    <a id="tabs-text-4-tab" data-bs-toggle="tab"
                                    href="#tabs-text-4" role="tab" aria-controls="tabs-text-4"
                                    aria-selected="false">
                                        <div class="icon-box mb-4 animate-up-4" >
                                            <div class="icon icon-primary mb-4">
                                                <img src="/static/assets/img/sections/no-shave.svg">
                                            </div>
                                            <h3 class="h5">{{_('No Shave FUE')}}</h3>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div> -->
                        <!-- End of Tab Nav
                        <!-- Tab Content -->
                        <!-- <div class="card border-0">
                            <div class="card-body p-0">
                                <div class="tab-content" id="tabcontent1">
                                    <div class="tab-pane fade show active" id="tabs-text-1" role="tabpanel" aria-labelledby="tabs-text-1-tab">
                                        <div class="container">
                                            <div class="row align-items-center justify-content-around">
                                                <div class="col-md-6 col-xl-6 mb-5">
                                                    <img class="organic-radius img-fluid" src="/static/assets/img/sections/about-us-1.jpg" alt="Office Desk">
                                                </div>
                                                <div class="col-md-6 col-xl-5 text-center text-md-left">
                                                    <h2 class="h1 mb-5">{{_('FUE')}}</h2>
                                                    <p class="lead">{{_('The FUE method is known as the most advanced hair transplant technique that guarantees perfectly natural results. This hair transplant technique consists in extracting the follicular units from the donor area and then reimplanting them in the passages opened by incision beforehand in the bald areas of the head.')}}</p>
                                                    <p class="lead">{{_('  ')}}</p>
                                                    <p class="lead">{{_('  ')}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tabs-text-2" role="tabpanel"
                                        aria-labelledby="tabs-text-2-tab">
                                        <div class="container">
                                            <div class="row align-items-center justify-content-around">
                                                <div class="col-md-6 col-xl-5 text-center text-md-left">
                                                    <h2 class="h1 mb-5">{{_('Sapphire FUE')}}</h2>
                                                    <p class="lead">{{_('In hair transplantation, genuine sapphire blades are used instead of the thin metal blade used in the classic FUE method when incising the channels in the receiving area.')}}</p>
                                                    <p class="lead">{{_('This innovation of the FUE method minimizes scab formation and helps speed up the healing process by opening up smaller pathways where the grafts will be implanted.')}}</p>
                                                    <p class="lead">{{_('  ')}}</p>
                                                </div>
                                                <div class="col-md-6 col-xl-6 mb-5">
                                                    <img class="organic-radius img-fluid" src="/static/assets/img/sections/about-us-1.jpg" alt="Office Desk">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tabs-text-3" role="tabpanel"
                                        aria-labelledby="tabs-text-3-tab">
                                        <div class="container">
                                            <div class="row align-items-center justify-content-around">
                                                <div class="col-md-6 col-xl-6 mb-5">
                                                    <img class="organic-radius img-fluid" src="/static/assets/img/sections/about-us-1.jpg" alt="Office Desk">
                                                </div>
                                                <div class="col-md-6 col-xl-5 text-center text-md-left">
                                                    <h2 class="h1 mb-5">{{_('DHI')}}</h2>
                                                    <p class="lead">{{_('The DHI hair implant method is a more advanced non-invasive technique of the FUE method. The removal of the hair follicles and the implantation of the grafts is done one by one. The entire transplant operation is performed manually by an expert doctor.')}}</p>
                                                    <p class="lead">{{_('The operation is performed by hand, using a DHI hair injector which allows the surgeon to control the depth, angle and direction of the hair as it is implanted.')}}</p>
                                                    <p class="lead">{{_('This method is therefore performed without any incision, which leaves no scars or traces leaving a natural result.')}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tabs-text-4" role="tabpanel"
                                    aria-labelledby="tabs-text-4-tab">
                                    <div class="container">
                                        <div class="row align-items-center justify-content-around">

                                            <div class="col-md-6 col-xl-5 text-center text-md-left">
                                                <h2 class="h1 mb-5">{{_('No Shave FUE')}}</h2>
                                                <p class="lead">{{_('It is quite possible to do a hair implant without shaving your hair. With the FUE no-shave method. This method is identical to the classic FUE method. It consists of extracting the follicular units and reimplanting them in the desired areas.')}}</p>
                                                <p class="lead">{{_('This operation is particularly carried out in order to correct weak to moderate hair loss.')}}</p>
                                                <p class="lead">{{_('  ')}}</p>
                                            </div>
                                            <div class="col-md-6 col-xl-6 mb-5">
                                                <img class="organic-radius img-fluid" src="/static/assets/img/sections/about-us-1.jpg" alt="Office Desk">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div> --> -->
                        <!-- End of Tab Content -->
                    </div>
                </div>
            </div>
        </div>