<link type="text/css" href="/static/assets/css/_tariffcards.css?newcache11" rel="stylesheet">

<div class="tariffCards">
    <div class="economy">
        <a id="contact-wp" href="https://web.whatsapp.com/send?phone=905398420570" target="_blank"><span class="clickable"></span></a>
        <i class="fab fa-whatsapp"></i>
        <h3>Text us from Whatsapp!</h3>
    </div>
    <div class="premiumeconomy">
        <a href="https://www.instagram.com/fioreclinique/" target="_blank"><span class="clickable"></span></a>
        <i class="fab fa-instagram"></i>
        <h3>DM us from Instagram!</h3>
    </div>
    <div class="business">
        <a href="linkt.to.smthn.com" target="_blank"><span class="clickable"></span></a>
        <i class="fab fa-facebook"></i>
        <h3>Chat us at Facebook!</h3>
    </div>
    <div class="first">
        <a href="tel:+90 539 842 05 70" target="_blank"><span class="clickable"></span></a>
        <i class="fas fa-phone"></i>
        <h3>Call Us Whenever You Like!</h3>
        <!-- <span>Full Insurance</span> -->
    </div>

  </div>
