<link type="text/css" href="/static/assets/css/_timeline.css?newcache13" rel="stylesheet">

<div class="container">
   <div class="row d-flex d-md-none">
      <div class="col-md-10 mx-auto">
         <div class="timeline timeline-one">
            <div  class="timeline-item">
            <span class="icon icon-lg" style="color: #1c2540;">
               <span class="fas fa-phone fa-3x"></span>
            </span>
            <h2 class="h5 my-3">{{_('Contact Us')}}</h2>
            <p class="fw-normal" style="text-align: justify;">{{_('You have finally decided to do a hair transplant. We would like to learn more about you in order to provide you with more relevant information. Contact us to receive more information about our services.')}}</p>                
            </div>
            <div id="{{_('online-consultation')}}" class="timeline-item">
            <span class="icon" style="color: #1c2540;">
               <span class="fas fa-photo-video fa-3x"></span>
            </span>
            <h2 class="h5 my-3" >{{_('Online Free Consultation')}}</h2>
            <p class="fw-normal" style="text-align: justify;">
               {{_('We are all unique. Not everyone shows the same type of hair loss. Already in contact with our online support, you are invited to send us photos of your hair for a first diagnosis. This first completely free consultation consists of finding out about the condition of your hair, the type of hair loss and the extent of the area to be corrected. We will share your photos with our surgeons so that they can develop an action plan to satisfy your needs and expectations.')}}</p>     
            </div>
            <div id="{{_('making-appointments')}}" class="timeline-item">
            <span class="icon" style="color: #1c2540;">
               <span class="far fa-calendar-check fa-3x"></span>
            </span>
            <h2 class="h5 my-3"  >{{_('Making Appointments')}}</h2>
            <p class="fw-normal" style="text-align: justify;">{{_('The proposed quotation matches your budget and you want to make an appointment for the operation. Let us know the dates of your availability. Once the appointment is fixed, a deposit of 15 percent of the total price will be required.')}}
            </p>
            </div>
            <div id="{{_('transport')}}" class="timeline-item">
            <span class="icon" style="color: #1c2540;">
               <span class="fas fa-plane-arrival fa-3x"></span>
            </span>
            <h2 class="h5 my-3" >{{_('Travel, Transport and Accommodation')}}</h2>
            <p class="fw-normal" style="text-align: justify;">
               {{_('You have booked your plane ticket to Istanbul. You communicate with our team the information of your flight. On arrival at Istanbul Airport, our transport agent will meet you at the exit and escort you to your hotel. Once there, you can already get in touch with your translator-interpreter for any questions and additional service requests.')}}</p>                </div>
            <div id="{{_('arrival-clinic')}}" class="timeline-item">
            <span class="icon" style="color: #1c2540;">
               <span class="fas fa-hospital-user fa-3x"></span>
            </span>
            <h2 class="h5 my-3" >{{_('Arrival at the Clinic')}}</h2>
            <p class="fw-normal" style="text-align: justify;">{{_('The next day, your translator-interpreter accompanies you to the clinic. At your disposal throughout the operation, the interpreter remains at your disposal for all your questions and your immediate needs. He/she will be responsible for translating all the words spoken by the surgeon and his team.')}}
            </p>
            </div>
            <div id="{{_('post-treatment')}}" class="timeline-item">
            <span class="icon" style="color: #1c2540;">
               <span class="fas fa-briefcase-medical fa-3x"></span>
            </span>
            <h2 class="h5 my-3" >{{_('Post-operative Treatments')}}</h2>
            <p class="fw-normal" style="text-align: justify;">{{_('After the operation, you will be escorted back to the hotel. Staying at rest is strongly recommended. The next day you will be accompanied to the clinic again with the interpreter. The surgeon and his team will show you how to wash your hair after the operation. A kit containing shampoo and lotion will be provided to you in addition to the medicines to be taken after the operation. These kits are free, however, if you wish, you can purchase a hair care kit that contains shampoo, lotion, essential oil and essential vitamins to stimulate and strengthen your hair.')}}</p>
            </div>
            <div class="timeline-item">
            <span class="icon" style="color: #1c2540;">
               <span class="fas fa-plane-departure fa-3x"></span>
            </span>
            <h2 class="h5 my-3">{{_('Return')}}</h2>
            <p class="fw-normal" style="text-align: justify;">{{_('You will eventually be escorted back to the airport. A PCR test will be done beforehand insofar as the country of which you are a national requires one.')}}</p>
            </div>
         </div>
      </div>
      </div>


 <!-- End of Title -->
 <div class="row mt-4 d-none d-md-block">
    <!-- Timeline -->
    <div class="vertical-timeline">
       <!-- Timeline Item 1 -->
       <div class="row d-flex align-items-center">
          <div class="col-md-2 text-center bottom">
             <div class="shape d-flex align-items-center justify-content-center organic-radius icon-white"><i class="fas fa-phone fa-3x"></i></div>
          </div>
          <div class="col-md-6">
             <h6 class="text-left">{{_('Contact Us')}}</h6>
             <p class="fw-normal" style="text-align: justify;">
                {{_('You have finally decided to do a hair transplant. We would like to learn more about you in order to provide you with more relevant information. Contact us to receive more information about our services.')}}
                </p>
          </div>
       </div>
       <div class="row timeline-inner">
          <div class="col-md-2">
             <div class="corner top-right"></div>
          </div>
          <div class="col-md-8">
             <hr>
          </div>
          <div class="col-md-2">
             <div class="corner left-bottom"></div>
          </div>
       </div>
       <!-- Timeline Item 2 -->
       <div class="row align-items-center justify-content-end vertical-timeline">
          <div class="col-md-6 text-right">
             <h6 id="{{_('consultation')}}" class="text-left">{{_('Online Free Consultation')}}</h6>
             <p class="fw-normal" style="text-align: justify;">
                {{_('We are all unique. Not everyone shows the same type of hair loss. Already in contact with our online support, you are invited to send us photos of your hair for a first diagnosis. This first completely free consultation consists of finding out about the condition of your hair, the type of hair loss and the extent of the area to be corrected. We will share your photos with our surgeons so that they can develop an action plan to satisfy your needs and expectations.')}}</p>
          </div>
          <div class="col-md-2 text-center full">
             <div class="shape right d-flex align-items-center justify-content-center icon-white rounded-circle"><i class="fas fa-photo-video fa-3x"></i></div>
          </div>
       </div>
       <div class="row timeline-inner">
          <div class="col-md-2">
             <div class="corner right-bottom"></div>
          </div>
          <div class="col-md-8">
             <hr>
          </div>
          <div class="col-md-2">
             <div class="corner top-left"></div>
          </div>
       </div>
       <!-- Timeline Item 3 -->
       <div class="row align-items-center vertical-timeline">
          <div class="col-md-2 text-center top">
             <div class="shape rounded d-flex align-items-center justify-content-center icon-white"><i class="far fa-calendar-check fa-3x"></i></div>
          </div>
          <div class="col-md-6">
             <h6 id="{{_('appointment')}}" class="text-left">{{_('Making Appointments')}}</h6>
             <p class="fw-normal" style="text-align: justify;">{{_('The proposed quotation matches your budget and you want to make an appointment for the operation. Let us know the dates of your availability. Once the appointment is fixed, a deposit of 15 percent of the total price will be required.')}}
            </p>
          </div>
       </div>
       <div class="row timeline-inner">
            <div class="col-md-2">
                <div class="corner top-right"></div>
            </div>
            <div class="col-md-8">
                <hr>
            </div>
            <div class="col-md-2">
                <div class="corner left-bottom"></div>
            </div>
        </div>
        <div class="row align-items-center justify-content-end vertical-timeline">
            <div class="col-md-6 text-right">
               <h6 id="{{_('travel')}}" class="text-left">{{_('Travel, Transport and Accommodation')}}</h6>
               <p class="fw-normal" style="text-align: justify;">
                {{_('You have booked your plane ticket to Istanbul. You communicate with our team the information of your flight. On arrival at Istanbul Airport, our transport agent will meet you at the exit and escort you to your hotel. Once there, you can already get in touch with your translator-interpreter for any questions and additional service requests.')}}</p>
            </div>
            <div class="col-md-2 text-center full">
               <div class="shape right d-flex align-items-center justify-content-center icon-white organic-radius"><i class="fas fa-plane-arrival fa-3x"></i></div>
            </div>
         </div>
         <div class="row timeline-inner">
            <div class="col-md-2">
               <div class="corner right-bottom"></div>
            </div>
            <div class="col-md-8">
               <hr>
            </div>
            <div class="col-md-2">
               <div class="corner top-left"></div>
            </div>
         </div>
         <div class="row align-items-center vertical-timeline">
            <div class="col-md-2 text-center top">
               <div class="shape d-flex align-items-center justify-content-center rounded-circle icon-white"><i class="fas fa-hospital-user fa-3x"></i></div>
            </div>
            <div class="col-md-6">
               <h6 id="{{_('arrival')}}" >{{_('Arrival at the Clinic')}}</h6>
               <p class="fw-normal" style="text-align: justify;">{{_('The next day, your translator-interpreter accompanies you to the clinic. At your disposal throughout the operation, the interpreter remains at your disposal for all your questions and your immediate needs. He/she will be responsible for translating all the words spoken by the surgeon and his team.')}}
               </p>
            </div>
         </div>
         <div class="row timeline-inner">
            <div class="col-md-2">
                <div class="corner top-right"></div>
            </div>
            <div class="col-md-8">
                <hr>
            </div>
            <div class="col-md-2">
                <div class="corner left-bottom"></div>
            </div>
        </div>
        <div class="row align-items-center justify-content-end vertical-timeline">
            <div class="col-md-6 text-right">
               <h6 id="{{_('treatment')}}" class="text-left">{{_('Post-operative Treatments')}}</h6>
               <p class="fw-normal" style="text-align: justify;">{{_('After the operation, you will be escorted back to the hotel. Staying at rest is strongly recommended. The next day you will be accompanied to the clinic again with the interpreter. The surgeon and his team will show you how to wash your hair after the operation. A kit containing shampoo and lotion will be provided to you in addition to the medicines to be taken after the operation. These kits are free, however, if you wish, you can purchase a hair care kit that contains shampoo, lotion, essential oil and essential vitamins to stimulate and strengthen your hair.')}}</p>
            </div>
            <div class="col-md-2 text-center full">
               <div class="shape right d-flex align-items-center justify-content-center icon-white rounded"><i class="fas fa-briefcase-medical fa-3x"></i></div>
            </div>
         </div>
         <div class="row timeline-inner">
            <div class="col-md-2">
               <div class="corner right-bottom"></div>
            </div>
            <div class="col-md-8">
               <hr>
            </div>
            <div class="col-md-2">
               <div class="corner top-left"></div>
            </div>
         </div>
         <div class="row align-items-center vertical-timeline">
            <div class="col-md-2 text-center top">
               <div class="shape d-flex align-items-center justify-content-center organic-radius icon-white "><i class="fas fa-plane-departure fa-3x"></i></div>
            </div>
            <div class="col-md-6">
               <h6 id="{{_('return')}}">{{_('Return')}}</h6>
               <p class="fw-normal" style="text-align: justify;">{{_('You will eventually be escorted back to the airport. A PCR test will be done beforehand insofar as the country of which you are a national requires one.')}}</p>
            </div>
         </div>
    </div>
   </div>
