<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark" style="padding-bottom: 5px;">
        <div class="position-absolute header-top align-items-center" style="top:0.5vh; left: 0.5vw;">
            <a href="{{url_for('bp.change',new_lang_code='en')}}" class="text-md-right " type="button" aria-label="whatsapp button"
            title="whatsapp button" style="padding-top: 0.2rem;">
            <span class="icon icon-sm navbar-droplogo"><img src="/static/assets/img/flags/gb.svg"></img></span>
            </a>
            <hr class="header-top" style="color: black !important; margin: 0 5px !important; height:12px;" width="2">
            <a href="{{url_for('bp.change',new_lang_code='fr')}}" class="text-md-right" type="button" aria-label="whatsapp button"
            title="whatsapp button" style="padding-top: 0.2rem;">
            <span class="icon icon-sm navbar-droplogo"><img src="/static/assets/img/flags/fr.svg"></img></span>
            </a>
        </div>
        <div class="container-lg position-relative">
            <a class="navbar-brand position-relative col-2" href="{{ url_for('bp.index') }}">
                <img class="navbar-brand-suki" src="/static/assets/img/brand/logo_stripless2.svg" alt="Logo suki">
            </a>
            <hr class="verticalLine header-top" style="margin-left: 15px;" width="2" size="50px">
            <div class="navbar-collapse collapse col-auto" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="#contact-footer" onclick="close_menu()">
                                <button class="btn btn-primary" type="button" style="margin-top: -10px; white-space: nowrap;">
                                    <span class="me-1"><span class="fas fa-mobile-alt"></span></span>
                                    {{_('Contact Us')}}
                                </button>
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global"  onclick="unlock()" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                    
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-left justify-content-evenly me-auto" >
                    <li id="menu-item-1" class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle display-5-l" id="frontPagesDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                            {{_('Hair Transplant')}}
                            <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="frontPagesDropdown">
                            <div class="col-auto px-0">
                                <div class="list-group list-group-flush">
                                    <a href="{{url_for('bp.male_transplant')}}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4" style="white-space:nowrap;">
                                        <span class="icon icon-sm navbar-droplogo"><img src="/static/assets/img/dropdown/malehair.svg"></img></span>
                                        <div class="ms-4" style="width: 80%;">
                                            <span class="d-block font-base fw-bold mb-0">{{_('Male Hair Transplant')}}
                                            </span>
                                            <!-- <span class="small">Examples and guides</span> -->
                                        </div>
                                    </a>
                                    <a href="{{url_for('bp.female_transplant')}}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4" style="white-space:nowrap;">
                                        <span class="icon icon-sm navbar-droplogo"><img src="/static/assets/img/dropdown/femalehair.svg"></img></span>
                                        <div class="ms-4" style="width: 80%;">
                                            <span class="d-block font-base fw-bold mb-0">{{_('Female Hair Transplant')}}</span>
                                            <!-- <span class="small">Need help? Ask us!</span> -->
                                        </div>
                                    </a>
                                    <a href="{{url_for('bp.facial_transplant')}}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4" style="white-space:nowrap;">
                                        <span class="icon icon-sm navbar-droplogo"><img src="/static/assets/img/dropdown/beard.svg"></img></span>
                                        <div class="ms-4">
                                            <span class="d-block font-base fw-bold mb-0">{{_('Facial Hair Transplant')}}</span>
                                            <!-- <span class="small">Need help? Ask us!</span> -->
                                        </div>
                                    </a>
                                    <a href="{{url_for('bp.eyebrow_transplant')}}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4" style="white-space:nowrap;">
                                        <span class="icon icon-sm navbar-droplogo"><img src="/static/assets/img/dropdown/eyelashes.svg"></img></span>
                                        <div class="ms-4">
                                            <span class="d-block font-base fw-bold mb-0">{{_('Eyebrow Transplant')}}</span>
                                            <!-- <span class="small">Need help? Ask us!</span> -->
                                        </div>
                                    </a>
                                    <a href="{{url_for('bp.transplant_methods')}}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4" style="white-space:nowrap;">
                                        <span class="icon icon-sm navbar-droplogo"><span class="icon icon-sm"><span class="fas fa-syringe"></span></span></span>
                                        <div class="ms-4">
                                            <span class="d-block font-base fw-bold mb-0">{{_('Transplant Methods')}}</span>
                                            <!-- <span class="small">Need help? Ask us!</span> -->
                                        </div>
                                    </a>
                                    <a href="{{url_for('bp.prp_treatment')}}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4" style="white-space:nowrap;">
                                        <span class="icon icon-sm navbar-droplogo"><span class="icon icon-sm"><span class="fas fa-vials"></span></span></span>
                                        <div class="ms-4">
                                            <span class="d-block font-base fw-bold mb-0">{{_('PRP Treatment')}}</span>
                                            <!-- <span class="small">Need help? Ask us!</span> -->
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="menu-item-2" class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle display-5-l" data-bs-toggle="dropdown" id="supportDropdown" aria-expanded="false">
                            {{_('About')}}
                            <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="supportDropdown">
                            <div class="col-auto px-0">
                                <div class="list-group list-group-flush">
                                    <a href="{{url_for('bp.our_partners')}}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4" style="white-space:nowrap;">
                                        <span class="icon icon-sm"><span class="fas fa-user-md"></span></span>
                                        <div class="ms-4">
                                            <span class="d-block font-base fw-bold mb-0">{{_('Our Partners')}}</span>
                                            <!-- <span class="small">Examples and guides</span> -->
                                        </div>
                                    </a>
                                    <a href="{{url_for('bp.about')}}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4" style="white-space:nowrap;">
                                        <span class="icon icon-sm"><span class="fas fa-file-alt"></span></span>
                                        <div class="ms-4">
                                            <span class="d-block font-base fw-bold mb-0">{{_('About Us')}}</span>
                                            <!-- <span class="small">Examples and guides</span> -->
                                        </div>
                                    </a>
                                    <a href="{{url_for('bp.contact')}}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4" style="white-space:nowrap;">
                                        <span class="icon icon-sm"><span class="fas fa-microphone-alt"></span></span>
                                        <div class="ms-4">
                                            <span class="d-block font-base fw-bold mb-0">{{_('Contact Us')}}</span>
                                            <!-- <span class="small">Need help? Ask us!</span> -->
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="menu-item-3" class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle display-5-l" data-bs-toggle="dropdown" id="supportDropdown2" aria-expanded="false">
                            {{_('Our Services')}}
                            <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="supportDropdown2">
                            <div class="col-auto px-0">
                                <div class="list-group list-group-flush">
                                    <a href="{{url_for('bp.experience')}}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4" style="white-space:nowrap;">
                                        <span class="icon icon-sm"><span class="fas fa-paper-plane"></span></span>
                                        <div class="ms-4">
                                            <span class="d-block font-base fw-bold mb-0">{{_('Experience')}}</span>
                                            <!-- <span class="small">Examples and guides</span> -->
                                        </div>
                                    </a>
                                    <a href="{{url_for('bp.packages')}}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4" style="white-space:nowrap;">
                                        <span class="icon icon-sm"><span class="fas fa-box-open"></span></span>
                                        <div class="ms-4">
                                            <span class="d-block font-base fw-bold mb-0">{{_('Packages')}}</span>
                                            <!-- <span class="small">Examples and guides</span> -->
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="menu-item-5" class="nav-item">
                        <a href="{{url_for('bp.faq')}}" class="nav-link dropdown-toggle display-5-l" data-bs-toggle="dropdown" id="supportDropdown" aria-expanded="false">
                            {{_('FAQ')}}
                            <!-- <span class="fas fa-angle-down nav-link-arrow ms-1"></span> -->
                        </a>
                    </li>
                </ul>  
            </div>
            <div class="col-2" style="white-space: nowrap;">
                {% include 'includes/_cardheader.html' %}
            </div>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler ms-2" onclick="lockscreen()" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
</header>
